{% extends 'front.html.twig' %}

{% block title %}Edit Annonce{% endblock %}

{% block body %}
    <h1>Edit Annonce</h1>

    {{ include('annonce/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_annonce_index') }} class="btn btn-primary mb-3">back to list</a>

    {{ include('annonce/_delete_form.html.twig') }}
{% endblock %}
