{% extends 'base.html.twig' %}

{% block title %}New Annonce{% endblock %}

{% block body %}
<main id="main" class="main">
    <h1>Create new Annonce</h1>

    {{ include('annonce/_form.html.twig') }}

    <a href="{{ path('app_annonce_index') }} class="btn btn-primary mb-3">back to list</a>
    </main>
{% endblock %}
