<h1>{{ produit.nom_produit }}</h1>

<p>Description: {{ produit.description_produit }}</p>

<p>Prix: {{ produit.prix_produit }}</p>

<p>Image: <img src="{{ asset('uploads/produit/' ~ produit.image_produit) }}"></p>


