{% extends 'base.html.twig' %}
{% block body %}


<main id="main" class="main">
<div class="card">
            <div class="card-body">
              <h4 class="card-title">Categories Table</h4>
                  {{ include('categorie/_form.html.twig') }}

     <a href="{{ path('app_categorie_index') }}">back to list</a>

            </div>
          </div>
</table>
</main>
{% endblock %}