{% block body %}
    <h2>Confirmation de votre inscription</h2>
    <p>Bonjour </p>
    <p>Merci de cliquer sur le lien ci-dessous pour confirmer votre inscription :</p>
    <a href="{{ url }}">Confirmer mon inscription</a>
{% endblock %}
